
<div class="detail_wrapper">
	<div class="header_wrapper">
		<div class="logo_wrapper">
			<a (click)="back()"><div class="logo">NOxLOGO</div></a>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="product_image_wrapper">
			<img src="{{product.image_url}}" width="400" height="500">
		</div>
		<div class="product_info">
			<div>{{product.name}}</div>
			<div class="price">${{product.price}}</div><br>
			<!-- <div>{{product.color}}</div> -->
			Size:
	 <select class="form-control" #t (change)="callType(t.value)">
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select><br><br>

    		Qty:
    	<select class="form-control" #b (change)="callQty(b.value)">
      <option *ngFor="let qty of qtys" [value]="qty">{{qty}}</option>
    </select><br><br>
		<!-- 	<input [(ngModel)]="newOrder.quantity" placeholder="Quantity"><br><br> -->
			<button class="add_btn" (click)="orderProduct(product)">Add to Cart</button>

				<div class="review"><br><br>
			<button class="review_btn" (click)="showUploadForm = !showUploadForm">Write A Review</button>
	
			<div *ngIf="showUploadForm">	
			
				<input [(ngModel)]="newReview.name" placeholder="name"><br>
					<input [(ngModel)]="newReview.text" placeholder="text"><br>
				<button class="submit_btn" (click)="postReview()">Submit</button>
			</div>
			<br><br>
			<div class="reviews_title">Reviews</div>
			<br>

			<div class="reviews" *ngFor="let rev of review">{{rev.name}} : {{rev.text}}</div>
			
		</div>
		
		</div>
	
	</div>
</div>	



