<div class="login_wrapper">
	<div class="header_wrapper">
		<div class="logo_wrapper">
			<div class="logo">NOxLOGO</div>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="login_form_wrapper">
			<input class="form-field" [(ngModel)]="user.email" placeholder="email"/>
			<input class="form-field" [(ngModel)]="user.password" placeholder="password"/>
			<button class='login-button'(click)="login()">Sign In</button>
			<hr>
			<button class="join-button"(click)="goToJoin()">Join</button>
		</div>
		
	</div>
</div>	



