 *{

	// border: 1px solid red;
}
.login_wrapper{

	margin-top: -40px;


}
.header_wrapper{
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	background-size: contain;
	font-size: 20px;
	position: fixed;
	left:0;
}
.login_form_wrapper{
	margin-top: 200px;
}
.logo_wrapper{
	height: 50px;
	flex-grow: 1;
	border-bottom: 1px solid #d4d7db;
}
.logo{
	margin-top: 35px;
	margin-left: 20px;
}
.main_wrapper{
	margin-top: 0px;	
	width: 100%;
	display: flex;
	justify-content: center;	
}
.form-field{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #d4d7db;
	padding-left: 10px;
	outline: none;
}
.login-button{
	width: 104%;
	border: none;
	background-color: white;
	outline: none;
}
hr{
	border:0;border-top:.5px solid #d4d7db;margin-top:15px;height:1px;
	margin-left: 12px;
}
.join-button{

	margin-left: 47%;
	border: none;
	background-color: white;
	outline: none;
}
a:hover {
 	cursor:pointer;
}