<div class="checkout_wrapper">
	<div class="header_wrapper">
			<div class="logo_wrapper">
				<a (click)="back()"><div class="logo">NOxLOGO</div></a>
			</div>	
		</div>
	<div class="main_wrapper">	
		<div class="cart_details">
			<h4>Items</h4>
			<tr *ngFor="let order of orders">
			<div class="cart_order">
				<img src="{{order.image_url}}" width="50" height="100">
					<td>{{order.name}}</td><br>
					<td>Price: {{order.price}}</td><br>
					<td>Color: {{order.color}}</td><br>
					<td>Size: {{order.size}}</td><br>
					<td>Qty: {{order.quantity}}</td><br>
					<button class="delete_btn" (click)="deleteOrder(order)">Delete</button>
					<hr>
			</div>
			</tr>	
		</div>
		<div class="order_total">
				
			<h4>Total</h4>
			${{total}}<br>
		</div>
			
		<div class="shipping_wrapper">
			<h4>Shipping Address</h4>
			<div *ngIf="user">
			{{user.name}}<br>
			{{user.street}}<br>
			{{user.street_pt_two}}<br>
			{{user.city}}<br>
			{{user.state}}<br>
			{{user.zip}}<br>
			</div>
			

			<button class="edit_btn" (click)="editShipping(user)">Edit</button>

			<div *ngIf="showEditForm">	
				<input class="form_field" [(ngModel)]="newShipping.name" placeholder="name"><br>
				<input class="form_field"  [(ngModel)]="newShipping.street" placeholder="street"><br>
				<input class="form_field"  [(ngModel)]="newShipping.street_pt_two" placeholder="street part two"><br>
				<input class="form_field" [(ngModel)]="newShipping.city" placeholder="city"><br>
				<input class="form_field" [(ngModel)]="newShipping.state" placeholder="state"><br>
				<input class="form_field"  [(ngModel)]="newShipping.zip" placeholder="zip"><br>
				<button class="edit_btn"  (click)="patchShipping()">Submit</button>
			</div>
		</div>
		<div class="payment">
		
				<button class="purchase_btn" (click)="openCheckout()">Purchase</button>

		</div>

	</div>	
</div>



		