
<div class="join_wrapper">
	<div class="header_wrapper">
		<div class="logo_wrapper">
			<h1>LOGO</h1>
		</div>
	</div>
	<div class="main_wrapper">
		<div class="join_form_wrapper">
			<input class="form-field" [(ngModel)]="newUser.name" placeholder="name">
			<input class="form-field" [(ngModel)]="newUser.email" placeholder="email">
			<input class="form-field" [(ngModel)]="newUser.password" placeholder="password">
			<input class="form-field" [(ngModel)]="newUser.street" placeholder="street">
			<input class="form-field" [(ngModel)]="newUser.street_pt_two" placeholder="street part two">
			<input class="form-field" [(ngModel)]="newUser.city" placeholder="city">
			<input class="form-field" [(ngModel)]="newUser.state" placeholder="state">
			<input class="form-field" [(ngModel)]="newUser.zip" placeholder="zip"><br>
			<button class="join-button" (click)="postUser()">Create Account</button>			
		</div>
		
	</div>
</div>	


