 *{

	// border: 1px solid red;
}
.home_wrapper{

	margin-top: -27px;


}

.header_wrapper{

	display: flex;
	flex-direction: row;

	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: center;
	background-size: contain;
	background-color: white;
	font-size: 20px;
	position: fixed;
	top:0;
	left:0;
	border-bottom: 1px solid #d4d7db;
	-webkit-transform: translateZ(0);
	backface-visibility: hidden;




}
.logo_wrapper{
	flex-grow: 1;

}
.logo{

	margin-left: 20px;
}
.search_wrapper{
	flex-grow: 1;
	text-align: center;

		

}
.search_btn{


border: none;
	background-color: white;
	outline: none;
}
.cart_wrapper{

	flex-grow: 1;
	text-align: center;


}
.login_wrapper{
	flex-grow: 1;
	text-align: center;
	
	


}

.form-field{
	width: 50%;
	height: 20px;
	margin-bottom: 10px;

	border-radius: 0px;
	border: none;
	border-bottom: 1px solid #d4d7db;

	padding-left: 10px;
	outline: none;
}
.main_wrapper{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: center;

	
}
.product_wrapper{

	
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 100px;
	margin-left: 70px;
	

	
}
.products{
	
    flex-grow: 1;
    height:380px;
    width: calc(100% * (1/4) - 10px - 1px);
 	margin-bottom: 50px;


	
}
.product_img{

	
}
.product_name{
	text-align: left;
	width: 250px;

}
.product_price{



}
.footer_wrapper{
	


	
}
.logout_btn{


	border: none;
	background-color: white;
	outline: none;
}

